<IfModule mod_rewrite.c>

  SetEnv NEXT_PUBLIC_RECAPTCHA_SITE_KEY 6LdmvysqAAAAAALuxnHdHKUezAr5EDLY6zIqXuyV
  SetEnv RECAPTCHA_SECRET_KEY 6LdmvysqAAAAANhnJcMrVagVwRJCajlk-OOQbf2m
  SetEnv BREVO_API_KEY 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


  RewriteEngine On
  RewriteBase /
  RewriteRule ^index.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-L
  RewriteRule . /index.html [L]

</IfModule>