@tailwind base;
@tailwind components;
@tailwind utilities;






@font-face {
  font-family: "LilitaOneRegular";
  src: url("/fonts/LilitaOne-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "InterBlack";
  src: url("/fonts/Inter-Black.ttf") format("opentype");
}


body {

  background: linear-gradient(180deg, #59C3FF 0%, #88D8F0 30.67%);
  cursor: url("/icons/cursor.png"), auto;
  
}

input {
  cursor: url("/icons/cursor.png"), auto;
}

button {
  cursor: url("/icons/cursor.png"), auto;
}

.rec-block {
  display: flex;
  justify-content: center;
}

